<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LP_MANAGEMENT_SYSTEM.Properties.Settings.LP_MANAGEMENT_SYSTEM_DBConnectionString"
            connectionString="Data Source=.\Sqlexpress;Initial Catalog=LP_MANAGEMENT_SYSTEM_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>